@charset "UTF-8";

/*이동경로 표시*/

.location {
	width:1160px;
	font-size:18px;
	font-weight: bold;
	color:#666;
	margin:10px 0px 10px 20px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}

/******베스트드레서*******/

/*검색, 태그검색 버튼*/

.top_box {
	width:1200px;
	height:40px;
	padding-top :10px;
}

.top_box input {
	width:1000px;
	height:35px;
	border:1px solid #ccc;
	border-radius: 10px ;
	margin:0px 5px 0px 20px;
	background-color:#ccc;
}

.top_box button {
	width:65px;
	height:35px;
	margin: 0px 5px 0px 5px;
	border:1px solid #ccc;
	border-radius: 10px ;
	background-color:#fff;
}

.top_box button:hover {
	background-color:#ccc;
}

/*태그 리스트 뿌리기*/

#tagList_box {
	width:1160px;
	margin:10px 0px 10px 20px;
	padding-bottom:10px;
}

#tagList_box .tag_box {
	width:1160px;
	height:75px;
}

#tagList_box .tag_box ul li{
	float:left;
	margin: 5px 3px 5px 3px;
	padding: 3px 4px;
	background-color:#99C2DF; 
	border-radius: 10px;
	text-align: center;
	font-size:15px;
	font-weight: bold;
}

/*codi_box*/

#codi_box {
	width:1200px;
	height:1000px;
}


#codi_box .codi_line {
	margin-top:20px;
}

#codi_box .codi_line li {
	float:lest;
	background-color:red;
}

#codi_box .codi_line li .codi_row {
	width:220px;
	height:380px;
	float:left;
	margin:10px 10px 10px 10px; 
	text-align: center;
	font-size:13px;
	position: relative;
}

#codi_box .codi_line li .codi_row .row01 div{
	margin-bottom:10px;
	float:left;
}

#codi_box .codi_line li .codi_row .row01 .nickName{
	width: 60px;
	margin-left: 16px;
	text-align: left;
}

#codi_box .codi_line li .codi_row .row01 .btnFollow{
	width: 60px;
	margin-left: 10px;
	text-align: left;
}

#codi_box .codi_line li .codi_row .row01 .btnWishlist{
	margin-left: 48px;
	text-align: right;
}

#codi_box .codi_line li .codi_row .row02_back {
	width:200px;
	height:317px;
	background-color:#000;
	border:1px solid #ccc;
	border-radius: 10px ;
	box-sizing: border-box;
	z-index:20px;
	position:absolute;
	opacity:0; 
	transition:all 0.3s; 
	cursor: pointer;
	margin-left:10px;
}

#codi_box .codi_line li .codi_row .row02_back p {
	color:#fff;
	opacity:1; 
	margin-top:140px;
}


#codi_box .codi_line li .codi_row img {
	width:200px;
	border:1px solid #ccc;
	border-radius: 10px ;
	box-sizing: border-box;
	cursor: pointer;
}

#codi_box .codi_line li .codi_row:hover .row02_back{
	opacity:0.65;
	background-color:#000;
}


#codi_box .codi_line li .codi_row .row03 div{
	margin-top:10px;
	float: left;
}

#codi_box .codi_line li .codi_row .row03 .likes{
	width: 100px;
	margin-left: 10px;
	text-align : center;
}

#codi_box .codi_line li .codi_row .row03 .comments{
	width: 100px;
	text-align : center;
}

/*태그검색 모달*/

#tagSearchModal .modal-dialog {
	width:900px;
}

#tagSearchModal .modal-body .tag_box {
	width:865px;
	height:200px;
	border:1px solid #ccc;
}

#tagSearchModal .tagCate{
	line-height: 25px;
	margin: 5px 0px 5px 4px;
	padding: 2px 2px 2px 2px;
	font-size:18px;
	font-weight: bold;
}

#tagSearchModal .modal-body .tag_box ul li{
	float:left;
	margin: 2px 4px 2px 4px;
	padding: 3px 6px;
	border: 1px solid #97C2D5;
	border-radius: 10px;
	text-align: center;
	font-size:14px;
	font-weight: bold;
}


/*위시리스트 추가 모달*/

#wishlistModal .modal-body img {
	margin-left: 30%;
}

#wishlistModal .modal-body label {
	border:1px solid #ccc;
	font-size:15px;
	padding:2px 6px 2px 6px;
	border-radius: 5px;
	background-color: #ccc;
	margin: 20px 0px 10px 0px;
}

#wishlistModal .modal-body .commentForm {
	width:100%;
}


