@charset "UTF-8";

/* 위치 */
.float-r {float: right; }
.float-l {float: left; }
.clear{clear: both; }

/* 정렬 */
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}

/*선, boader , ra*/

.gray_boader_box {
	border:1px solid #ccc;
	border-radius: 10px ;
}

.white_box {
	border:1px solid #ccc;
	border-radius: 10px ;
	background-color:#fff;
}

.red_btn {
	background-color:#D9534F;
	border-radius: 10px ;
	border:1px solid #D9534F;
}

.red_btn:hover {
	background-color:#B4100B;
	border-radius: 10px ;
	border:1px solid #B4100B;
}

.radius_btn {
	border:1px solid #337AB7;
	border-radius: 10px ;
}


/*이동경로 표시*/
.location {
	width:1160px;
	font-size:18px;
	font-weight: bold;
	color:#666;
	margin:10px 0px 10px 20px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}

/******코디구함*******/

/*검색, 글쓰기버튼*/
.top_box {
	width:1200px;
	height:40px;
	padding-top :10px;
}

.top_box input {
	width:1000px;
	height:35px;
	border:1px solid #ccc;
	border-radius: 10px ;
	margin:0px 5px 0px 20px;
	background-color:#ccc;
}

.top_box button {
	width:65px;
	height:35px;
	margin: 0px 5px 0px 5px;
	border:1px solid #ccc;
	border-radius:10px ;
	background-color:#fff;
}

.top_box button:hover {
	background-color:#ccc;
	color:#fff;
	border:1px solid #fff;
	
}

.top_box .blue_btn:hover {
	background-color:#3bb1e5;
	border:1px solid #3bb1e5;
	color:#fff;
}

/*codi_box*/

#codi_box {
	width:1200px;
	height:800px;
}


#codi_box .codi_line {
	margin-top:20px;
}


#codi_box .codi_line li {
	float:lest;
}

#codi_box .codi_line li .codi_row {
	width:220px;
	height:380px;
	float:left;
	margin:10px 10px 10px 10px; 
	text-align: center;
	font-size:13px;
	position: relative;
}

#codi_box .codi_line li .codi_row .row01 {
	margin-bottom:10px;
	text-align: left;
	margin-left:10px;
}

#codi_box .codi_line li .codi_row .row01 .follow_btn {
	color:#3bb1e5;
	font-weight: bold;
}

#codi_box .codi_line li .codi_row .row02_back {
	width:200px;
	height:317px;
	background-color:#000;
	box-sizing:border-box;
	z-index:20px;
	position:absolute;
	opacity:0; 
	transition:all 0.3s; 
	cursor: pointer;
	margin-left:10px;
}


#codi_box .codi_line li .codi_row .row02_back  p {
	color:#fff;
	opacity:1; 
	margin-top:140px;
}


#codi_box .codi_line li .codi_row img {
	width:200px;
	border:1px solid #ccc;
	border-radius: 10px ;
	box-sizing: border-box;
	cursor: pointer;
}

#codi_box .codi_line li .codi_row:hover .row02_back{
	opacity:0.65;
	background-color:#000;
}


#codi_box .codi_line li .codi_row .row03 {
	margin-top:10px;
}

#codi_box .codi_line li .codi_row .row03 i {
	width:80px;
	font-size:14px;
	
}

/*코디구함 - 글쓰기*/

#codi_writeBox {
	width:1200px;
	height:1000px;
	margin-left:20px;
}

#codi_writeBox .title {
	width:800px;
	height:35px;
	margin: 0px 40px 0px 0px;
	float:left;
	line-height:35px;
}

#codi_writeBox .title_name , .date_limit  {
	width:70px;
	height:35px;
	background-color:#ccc;
	float:left;
	line-height:35px;
	margin:0px 20px 0px 0px;
	color:#fff;
}

#codi_writeBox .codi_drag {
	width:540px;
	height:480px;
	margin: 10px 10px 10px 0px;
	float:left;
	border:1px solid #ccc;
	border-radius: 10px ;
	padding:10px;
}

#codi_writeBox .closet_drag {
	width:560px;
	height:480px;
	margin: 10px 10px 10px 20px;
	float:left;
	border:1px solid #ccc;
	border-radius: 10px ;
	padding:10px;
	
}



#codi_writeBox .check_box {
	width:560px;
	float:left;
}

#codi_writeBox .check_box input{
	margin: 0px 10px 0px 10px;
}

#codi_writeBox .codi_text {
	width:1160px;
	height:150px;
	margin-top:10px;
	border:1px solid #ccc;
	
}


#codi_writeBox .but_box button {
	width:100px;
	height:25px;
	text-align: center;
	margin: 10px 0px 0px 0px;
}


/*코디구함 - 글읽기*/

#codi_readBox {
	width:1200px;
	height:550px;
	margin-left:20px;
}

#codi_readBox .title {
	width:800px;
	height:35px;
	margin: 0px 40px 0px 0px;
	float:left;
	line-height:35px;
	padding-left:10px;
}

#codi_readBox .title_name,.date_limit  {
	width:70px;
	height:35px;
	background-color:#ccc;
	float:left;
	text-align: center;
	line-height:35px;
	margin:0px 20px 0px 0px;
	color:#fff;
}

#codi_readBox .editor {
	padding-left:10px;
	height:35px;
	width:112px;
	float:left;
	line-height:35px;
	
}

#codi_readBox .codi_drag {
	width:400px;
	height:500px;
	margin: 10px 10px 10px 0px;
	float:left;
}

#codi_readBox .codi_drag img {
	width:300px;
	margin:10px 10px 10px 50px; 
}

#codi_readBox .closet_drag {
	width:705px;
	height:480px;
	padding: 10px;
	margin: 10px 10px 10px 20px;
	float:left;	
}

.tab-pane {
	padding:10px;
}

#codi_box .coment_box {
	width:1200px;
	height:35px;
}

#codi_box .coment_box > p {
	margin-left:20px;
	margin-top:20px;
	font-size:15px;
	width:500px;
	float:left;
	
}

#codi_box .coment_box p span{
	font-weight: bold;
	margin: 0px 15px 0px 0px;
}


#codi_box .coment_box .codi_coment_btn {
	float:right;
	height:35px;
	width:80px;
	border:1px solid #ccc;
	border-radius: 10px ;
	line-height:35px;
	margin-right:20px;
	background-color:#fff;
}

#codi_box .coment_box .codi_coment_btn:hover {
	background-color:#3bb1e5;
	border:1px solid #3bb1e5;
	color:#fff;
} 

/*위시리스트 아이콘*/
.row01 > i {
	float:right;
	margin-right:10px;
	font-size:20px;
}


/*답글 모달창*/

.modal-body > img {
	width:250px;
	box-sizing: border-box;
	cursor: pointer;
		
}
.modal-body > .text_box {
	float: right;
	width:285px;
	height:400px;
	margin-right:20px;
}
		
.modal-body > .text_box input {
	width:230px;
	height:30px;
	border:1px solid #ccc;
	border-radius: 10px ;
}

.modal-body > .text_box button {
	width:45px;
	height:30px;
	margin-left:6px;
}
	
.modal-body > .text_box .icon_box i{
	font-size:20px;
	margin-left:15px;
	margin-bottom:5px;
}	
	
		
.modal-body > .text_box .re_text , .text_top {
	padding-top:5px;
	padding-left:5px;
	float: left;
	height:155px;
	width:300px;
	border:1px solid #ccc;
	border-radius: 10px ;
	margin-bottom:8px;
}

.re_text ul li span {
	float:right;
}
.re_text ul li span a {
	margin:0px 5px 0px 5px;
}

